{% if gitlab_concurrent <= 0 %}
concurrent =  {{ ansible_processor_cores|default(2, true) }}
{% else %}
concurrent =  {{ gitlab_concurrent }}
{% endif %}
check_interval = 0

[session_server]
  session_timeout = 1800

[[runners]]
  name = "windows-runner"
  url = "{{ gitlab_external_url }}"
  token = "{{ gitlab_runner_token }}"
  executor = "shell"
  [runners.custom_build_dir]
  [runners.cache]
    [runners.cache.s3]
    [runners.cache.gcs]
    [runners.cache.azure]
  [runners.custom]
    run_exec = ""
